:root {
 /*colors*/
 --color-beige-shade-one: #DFD7CC;
 --color-beige-shade-two: #EDE5D9;
 --color-beige-shade-three: #FFF7EC;
 --color-red-shade-one: #550D0E;
 --color-red-shade-two: #A13842;
 --color-red-shade-three: #AB555D;
 --color-grey-shade-one: #797979;
 --color-grey-shade-two: #B0B0B0;
 --color-grey-shade-three: #C1C1C1;
 --color-black: #000000;
 --color-white: #fff;
/*units*/
 --unit-xs: 10px;
 --unit-s: 20px;
 --unit-m: 36px;
 --unit-l: 80px;
 --unit-xl: 176px;
/*fonts*/
 --font-size-primary: 25px;
 --font-size-secondary: 15px; 
 --font-reg: "montserrat";
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header {
 text-align: center;   
 box-sizing: border-box;
 width: 100%;
 height: 100%;
 display: inline-flex;
 margin: 0 auto;
 background-color: var(--color-beige-shade-three);
 font-family: 'Montserrat', sans-serif;
 color: var(--color-black);
 justify-content: space-between;
 align-items: center;
}
h1{
    margin-left: var(--unit-xl);
    font-size: var(--font-size-primary);
    font-weight: bold;
   }
   nav{
    margin-right: var(--unit-xl);
   }
   li{
    text-decoration: none;
    display: inline-flex;
    padding: 0px 20px; 
   }
   li :hover{
    color: var(--color-red-shade-three);
    transition: 0.3s;
   }
   a{
    color: var(--color-red-shade-one);
    text-decoration: none;
    font-size: var(--font-size-secondary)
   }
   button{
    padding: 9px 30px;
    background-color: var(--color-red-shade-one);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
   }
   button:hover{
    background-color: var(--color-red-shade-three);
    color: var(--color-black);
    transition: 0,3s;
   }

body{
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 width: 100%;
 height: 80px;
 display: inline;
 background-color: var(--color-beige-shade-three);
 font-family: 'Montserrat', sans-serif;
}
main{
    margin-top: 200px;
    margin-bottom: 400px;
    text-align: left;
    margin-left: var(--unit-xl);
    font-size: var(--font-size-secondary);
   }
   .meine_arbeiten{
   font-size: var(--font-size-primary);
   font-weight: bold;
   }
   img{
    height: 500px;
    border-radius: 200px;
    margin-left: 900px;
   }
   .platzhalter{
    margin-bottom: 600px;
   }
   .uebermich{
    text-align: left;
   }
   .instagram-icon{
    background-image: url(instagram-logo.svg);
    background-size: 100% auto;
    color: transparent;
    font-size: 0;
    width: var(--unit-m);
    height: var(--unit-m);
    display: inline-block;
   }
   .instagram-icon:hover{
    transition: 0,3s;
    width: 60px;
    height: 60px;
   }
   .facebook-icon{
    background-image: url(facebook-brands.svg);
    background-size: 100% auto;
    color: transparent;
    font-size: 0;
    width: var(--unit-m);
    height: var(--unit-m);
    display: inline-block;
   }
   .facebook-icon:hover{
    transition: 0,3s;
    width: 60px;
    height: 60px;
   }
   .twitter-icon{
    background-image: url(twitter-brands.svg);
    background-size: 100% auto;
    color: transparent;
    font-size: 0;
    width: var(--unit-m);
    height: var(--unit-m);
    display: inline-block;
   }
   .twitter-icon:hover{
    transition: 0,3s;
    width: 60px;
    height: 60px;
   }
   .socialmedia{
    margin-bottom: 670px;
    margin-left: 995px;
   }
   
footer{
 box-sizing: border-box;
 width: 100%;
 height: 100%;
 display: inline-flex;
 margin: 0 auto;
 background-color: var(--color-beige-shade-one);
}
.footertext{
    text-align: right;
    margin-left: 300px;
   }
   h2{
    margin-left: var(--unit-xl);
    font-weight: lighter;
   }


